*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: rgb(12, 11, 11);
    text-decoration: none;
    font-size: 20px;
}

#aboutus li{
    list-style: none;
    display: inline-block;
    margin: 80px;
}

#aboutus li a{
    color: rgb(235, 227, 227);
    text-decoration: none;
    font-size: 20px;
}


section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
   background-color: #E3D9CA;
}

#about{
     background-color: #95A792;
}

#resources{
     background-color: #596C68;
}
#coaches{
     background-color: #403F48;
}

#contact{
     background-color: #442727;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #403F48;
}



